# Backend
API_URL=http://localhost:8000
API_KEY=mCplh5ZOt4XfZww4MRyuakBPvWh9e1kz

# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://eexyhqvpgbdkzjtfraaw.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_yb-5n2l8rsZTFkfCPAaD2A_MMNk-Jao
